//受理开单
.openBilling {
  .el-dialog__header {
    border-bottom: #f2f2f2 solid 1px;
  }
  .cell {
    color: #333;
    font-weight: 500;
  }
  .dialog {
    .el-dialog__body {
      padding: 0px 40px 20px 0;
    }
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
      width: 220px;
    }
    .el-select {
      width: 220px;
    }
    label {
      font-weight: 500;
    }
  }
  .cargo_list {
    .el-select {
      width: 150px;
    }
  }
}
// 运单同步
.runBilling {
  label.el-form-item__label {
    width: 90px;
  }
  .cell {
    color: #333;
    font-weight: 500;
  }
}
.searchForm {
  .el-date-editor {
    width: 240px;
  }
}
::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 0;
  position: relative;
  z-index: 9999;
  opacity: 1;
  border: 1px solid #f2f2f2;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  transition: color 0.2s ease;
}
